Week1/anecdotes/node_modules/
Week1/courseinfo/node_modules/
Week1/unicafe/node_modules/
Week2/countries/node_modules/
Week2/phonebook/node_modules/
Week2/courseinfo/node_modules/
Week3/phonebook/node_modules/
Week3/phonebook/.env